<slider-component class="slider-mobile-gutter page-width page-width-desktop scroll-trigger animate--slide-in">
  <div>
    <div class="section-2">
      <div class="">
        <div class="">
          <div class="content-top">
            <p class="sub-title-team">Team</p>
            <h4 class="title-team">{{ section.settings.title }}</h4>
            <p class="desciption-team">{{ section.settings.description }}</p>
          </div>
          <div class="team-member">
            {% for block in section.blocks %}
              <div class="member member1">
                <div class="info-inner">
                  <div>
                    <a class="fb" href="#">
                      {{
                        block.settings.image_item
                        | image_url: width: 3840
                        | image_tag: width: '100%', height: 'auto', class: '', sizes: ''
                      }}
                    </a>
                  </div>
                  <div class="if-member">
                    <h4 class="title-name">{{ block.settings.title_item }}</h4>
                    <p class="position">{{ block.settings.description_item }}</p>
                    <div class="social">
                      <a class="fb" href="#">
                        {% if block.settings.custom_svg_1 %}
                          {{ block.settings.custom_svg_1 }}
                        {% endif %}
                      </a>
                      <a class="fb" href="#">
                        {% if block.settings.custom_svg_2 %}
                          {{ block.settings.custom_svg_2 }}
                        {% endif %}
                      </a>
                      <a class="fb" href="#">
                        {% if block.settings.custom_svg_3 %}
                          {{ block.settings.custom_svg_3 }}
                        {% endif %}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</slider-component>

<script>
  $(document).ready(function(){
    $('.team-member').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
        responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
    });
  });
</script>
{% schema %}
{
"name": "Grid-team",
"class": "section",
  "settings": [
      {
        "type": "header",
        "content": "Custom header"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Get Quality Education"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics"
      }
  ],
    "blocks": [
  {
    "type": "item",
    "name": "item",
    "settings": [
              {
        "type": "header",
        "content": "Custom header item"
      },
        {
          "type": "image_picker",
          "id": "image_item",
          "label": "Image item"
        },
        {
        "type": "text",
        "id": "title_item",
        "label": "Title"
      },
       {
        "type": "text",
        "id": "description_item",
        "label": "Description"
      },
      {
        "type": "checkbox",
        "id": "social_item",
        "label": "Enable social",
        "default": true
      },
      {
        "type": "textarea",
        "id": "custom_svg_1",
        "label": "Custom SVG 1"
      },
            {
        "type": "textarea",
        "id": "custom_svg_2",
        "label": "Custom SVG 2"
      },
            {
        "type": "textarea",
        "id": "custom_svg_3",
        "label": "Custom SVG 3"
      }
    ]
  }
],
    "presets": [
  {
    "name": "Grid-team",
    "blocks": [
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      }
    ]
  }
]
}
{% endschema %}
